body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.form label {
    display: inline-block;
    width: 100px; /* Adjust as needed */
}

.form input {
    margin-bottom: 10px;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    font-size: 18px;
}
